# Python Code to Load CSV into MySQL

In [1]:
import mysql.connector as db
import pandas as pd

In [2]:
# Read the customers.csv file

df = pd.read_csv("customers.csv")
df

,CustomerID,CustomerName,Email,Gender,Age,GeographyID
0,1,Emma Anderson,emma.anderson@example.com,Male,50,2
1,2,Sarah Brown,sarah.brown@example.com,Female,37,4
2,3,Robert Hernandez,robert.hernandez@example.com,Female,26,6
3,4,David Garcia,david.garcia@example.com,Male,25,8
4,5,Emma Miller,emma.miller@example.com,Female,41,4
...,...,...,...,...,...,...
95,96,Emily Gonzalez,emily.gonzalez@example.com,Female,38,10
96,97,Emily Rodriguez,emily.rodriguez@example.com,Female,51,3
97,98,Chris Lopez,chris.lopez@example.com,Female,55,10
98,99,Laura Hernandez,laura.hernandez@example.com,Male,41,5
99,100,Jane Brown,jane.brown@example.com,Female,45,10

In [16]:
# Check for missing values in each column

print(df.isnull().sum())

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

In [17]:
df.duplicated().sum()

np.int64(0)

In [41]:
#Connect to MySQL

conn = db.connect(
    host="localhost",
    user="shopeasy_db",
    password="shopeasy@123",
    database="shopeasy"
)
cursor = conn.cursor()

In [23]:
# Insert data into the customers table
for _, row in df.iterrows():
    sql = """
    INSERT IGNORE INTO customers (CustomerID, CustomerName, Email, Gender, Age, GeographyID) 
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, tuple(row))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [75]:
# Read the products.csv file

df1 = pd.read_csv("products.csv")

df1.head()

   ProductID      ProductName Category   Price
0          1    Running Shoes   Sports  223.75
1          2  Fitness Tracker   Sports  196.68
2          3         Yoga Mat   Sports  485.32
3          4        Dumbbells   Sports   26.21
4          5      Soccer Ball   Sports   41.26

In [31]:
print(df1.isnull().sum())

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

In [32]:
df1.duplicated().sum()

np.int64(0)

In [34]:
# Insert data into the products table
for _, row in df1.iterrows():
    sql = """
    INSERT IGNORE INTO products (ProductID, ProductName, Category, Price) 
    VALUES (%s, %s, %s, %s)
    """
    cursor.execute(sql, tuple(row))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [35]:
# Read the engagement_data.csv file

df2 = pd.read_csv("engagement_data.csv")

df2.head()

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CampaignID,ProductID,ViewsClicksCombined
0,1,39,Blog,190,2023-08-30,1,9,1883-671
1,2,48,Blog,114,2023-03-28,18,20,5280-532
2,3,16,video,32,2023-12-08,7,14,1905-204
3,4,43,Video,17,2025-01-21,19,20,2766-257
4,5,16,newsletter,306,2024-02-21,6,15,5116-1524

In [36]:
print(df2.isnull().sum())

EngagementID           0
ContentID              0
ContentType            0
Likes                  0
EngagementDate         0
CampaignID             0
ProductID              0
ViewsClicksCombined    0
dtype: int64

In [37]:
df2.duplicated().sum()

np.int64(0)

In [39]:
# Insert data into the engagement_data table

for _, row in df2.iterrows():
    sql = """
    INSERT IGNORE INTO engagement_data (EngagementID, ContentID, ContentType, Likes, EngagementDate, CampaignID, ProductID, ViewsClicksCombined) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, tuple(row))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [40]:
# Read the customer_reviews.csv file

df3 = pd.read_csv("customer_reviews.csv")

df3.head()

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText
0,1,77,18,2023-12-23,3,"Average experience, nothing special."
1,2,80,19,2024-12-25,5,The quality is top-notch.
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper."
4,5,64,2,2023-07-16,3,"Average experience, nothing special."

In [41]:
print(df3.isnull().sum())

ReviewID      0
CustomerID    0
ProductID     0
ReviewDate    0
Rating        0
ReviewText    0
dtype: int64

In [42]:
df3.duplicated().sum()

np.int64(0)

In [44]:
# Insert data into the customer_reviews table

for _, row in df3.iterrows():
    sql = """
    INSERT IGNORE INTO customer_reviews (ReviewID, CustomerID, ProductID, ReviewDate, Rating, ReviewText) 
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, tuple(row))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [6]:
# Read the customer_journey.csv file

df4 = pd.read_csv("customer_journey.csv")

df4.head()

,JourneyID,CustomerID,ProductID,VisitDate,Stage,Action,Duration
0,1,64,18,2024-06-10,Checkout,Drop-off,NaN
1,2,94,11,2025-07-09,Checkout,Drop-off,NaN
2,3,34,8,2024-06-14,ProductPage,View,235.0
3,4,33,18,2025-05-28,Checkout,Drop-off,NaN
4,5,91,10,2023-02-11,Homepage,Click,156.0

In [7]:
print(df4.isnull().sum())

JourneyID      0
CustomerID     0
ProductID      0
VisitDate      0
Stage          0
Action         0
Duration      14
dtype: int64

In [8]:
df4.fillna(df4.mean(numeric_only=True), inplace=True)
df4.to_csv("customer_journey_filled.csv", index=False)

In [9]:
print(df4.isnull().sum())

JourneyID     0
CustomerID    0
ProductID     0
VisitDate     0
Stage         0
Action        0
Duration      0
dtype: int64

In [10]:
df4.duplicated().sum()

np.int64(0)

In [11]:
# Insert data into the customer_journey table

for _, row in df4.iterrows():
    sql = """
    INSERT IGNORE INTO customer_journey (JourneyID, CustomerID, ProductID, VisitDate, Stage, Action, Duration) 
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    cursor.execute(sql, tuple(row))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [13]:
# Format VisitDate to a proper datetime format

# Convert VisitDate to datetime format
customer_journey["VisitDate"] = pd.to_datetime(customer_journey["VisitDate"], errors="coerce")

# Save the updated dataset
customer_journey.to_csv("customer_journey_formatted.csv", index=False)

print("VisitDate column formatted successfully!")

VisitDate column formatted successfully!

In [47]:
# Read the geography.csv file

df5 = pd.read_csv("geography.csv")

df5.head()

   GeographyID  Country    City
0            1       UK  London
1            2  Germany  Berlin
2            3   France   Paris
3            4    Spain  Madrid
4            5    Italy    Rome

In [48]:
print(df5.isnull().sum())

GeographyID    0
Country        0
City           0
dtype: int64

In [49]:
df5.duplicated().sum()

np.int64(0)

In [51]:
# Insert data into the geography table

for _, row in df5.iterrows():
    sql = """
    INSERT IGNORE INTO geography (GeographyID, Country, City) 
    VALUES (%s, %s, %s)
    """
    cursor.execute(sql, tuple(row))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

# Customer Journey Analysis:

In [ ]:
# Merging customers, customer_journey, products and customer_reviews data set.

In [14]:
customers = pd.read_csv("customers.csv")
customer_journey = pd.read_csv("customer_journey_formatted.csv")  # Using the cleaned dataset
products = pd.read_csv("products.csv")
customer_reviews = pd.read_csv("customer_reviews.csv")

# Perform joins
merged_df = (customer_journey
             .merge(customers, on="CustomerID", how="inner")
             .merge(products, on="ProductID", how="inner")
             .merge(customer_reviews, on=["CustomerID", "ProductID"], how="left"))  # Left join to keep all journeys

# Save the integrated dataset
merged_df.to_csv("integrated_data.csv", index=False)

print("Datasets successfully merged and saved as 'integrated_data.csv'.")

Datasets successfully merged and saved as 'integrated_data.csv'.

In [ ]:
# The drop-off, view, and click count per stage

In [15]:
# Standardize stage names (convert to lowercase and strip spaces)
customer_journey["Stage"] = customer_journey["Stage"].str.strip().str.lower()

# Sort by CustomerID and VisitDate
customer_journey.sort_values(by=["CustomerID", "VisitDate"], inplace=True)

# Identify drop-off points
customer_journey["NextStage"] = customer_journey.groupby("CustomerID")["Stage"].shift(-1)

drop_off_counts = customer_journey[customer_journey["NextStage"].isna()].groupby("Stage").size().reset_index(name="DropOffCount")
view_counts = customer_journey[customer_journey["Action"] == "View"].groupby("Stage").size().reset_index(name="ViewCount")
click_counts = customer_journey[customer_journey["Action"] == "Click"].groupby("Stage").size().reset_index(name="ClickCount")

In [16]:
# Merge counts
non_conversion_stats = drop_off_counts.merge(view_counts, on="Stage", how="outer").merge(click_counts, on="Stage", how="outer")

# Fill NaN values with 0
non_conversion_stats.fillna(0, inplace=True)

# Display results
print(non_conversion_stats)

         Stage  DropOffCount  ViewCount  ClickCount
0     checkout            13        0.0         0.0
1     homepage            32       37.0        17.0
2  productpage            20       21.0         5.0

In [ ]:
# Find common actions leading to successful conversions.

In [20]:
# Query to get customer actions before purchase
query = """
WITH PurchaseEvents AS (
    SELECT CustomerID, VisitDate
    FROM customer_journey
    WHERE Stage = 'Checkout' AND Action = 'Purchase'
)
SELECT cj.Action, COUNT(*) AS Action_Count
FROM customer_journey cj
JOIN PurchaseEvents pe
ON cj.CustomerID = pe.CustomerID
WHERE cj.VisitDate < pe.VisitDate  -- Actions before purchase
GROUP BY cj.Action
ORDER BY Action_Count DESC;
"""

cursor = conn.cursor()
cursor.execute(query)

# Fetch results into DataFrame
df6 = pd.DataFrame(cursor.fetchall(), columns=[i[0] for i in cursor.description])

# Close connection
cursor.close()
conn.close()

# Display top actions
print(df6)

     Action  Action_Count
0      View             2
1  Drop-off             1

In [40]:
# Calculate average duration per stage for engagement insights.

query1 = """
    WITH customer_stage_durations AS (
    SELECT 
        customerid, 
        stage, 
        DATEDIFF(MAX(VisitDate), MIN(VisitDate)) AS duration_days
    FROM customer_journey
    GROUP BY customerid, stage
)
SELECT 
    stage, 
    AVG(duration_days) AS avg_duration_days
FROM customer_stage_durations
GROUP BY stage
ORDER BY avg_duration_days DESC;
"""


# Execute Query using `pd.read_sql_query()
df7 = pd.read_sql_query(query1, conn)

# Display the result
print(df7)

# Close the connection
conn.close()

        stage  avg_duration_days
0    Homepage           119.4500
1  ProductPag            42.7083
2    Checkout             6.3684

C:\Users\bhuvi\AppData\Local\Temp\ipykernel_9152\4058401645.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df7 = pd.read_sql_query(query1, conn)

In [ ]:
# Final validation:

In [45]:
#Connect to MySQL

conn = db.connect(
    host="localhost",
    user="shopeasy_db",
    password="shopeasy@123",
    database="shopeasy"
)
cursor = conn.cursor()

In [46]:
# Query 1: Calculate average duration per stage
query2 = """
    SELECT 
        stage, 
        AVG(duration_days) AS avg_duration_days
    FROM (
        SELECT 
            customerid, 
            stage, 
            DATEDIFF(MAX(VisitDate), MIN(VisitDate)) AS duration_days
        FROM customer_journey
        GROUP BY customerid, stage
    ) sub
    GROUP BY stage
    ORDER BY avg_duration_days DESC;

"""

df8 = pd.read_sql_query(query2, conn)
print("Average Duration Per Stage:\n", df8)

# Query 2: Validate with min, max, avg duration per stage
query3 = """
    SELECT stage, MIN(duration_days), MAX(duration_days), AVG(duration_days)
    FROM (
        SELECT customerid, stage, DATEDIFF(MAX(VisitDate), MIN(VisitDate)) AS duration_days
        FROM customer_journey
        GROUP BY customerid, stage
    ) sub
    GROUP BY stage;
"""

df9 = pd.read_sql_query(query3, conn)
print("\nValidation Data:\n", df9)

# Close connection
conn.close()

Average Duration Per Stage:
         stage  avg_duration_days
0    Homepage           119.4500
1  ProductPag            42.7083
2    Checkout             6.3684

Validation Data:
         stage  MIN(duration_days)  MAX(duration_days)  AVG(duration_days)
0    Checkout                   0                 121              6.3684
1  ProductPag                   0                 596             42.7083
2    Homepage                   0                 727            119.4500

C:\Users\bhuvi\AppData\Local\Temp\ipykernel_9152\1381440486.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df8 = pd.read_sql_query(query2, conn)
C:\Users\bhuvi\AppData\Local\Temp\ipykernel_9152\1381440486.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df9 = pd.read_sql_query(query3, conn)

# Customer Reviews Analysis (SQL & Python):

In [ ]:
# Highest-Rated Products

In [57]:
#Connect to MySQL

conn = db.connect(
    host="localhost",
    user="shopeasy_db",
    password="shopeasy@123",
    database="shopeasy"
)
cursor = conn.cursor()

In [58]:
# Query to get highest-rated products
query_highest = """
    SELECT cr.productid, p.productname, 
           ROUND(AVG(cr.rating), 2) AS avg_rating, 
           COUNT(cr.rating) AS total_reviews
    FROM customer_reviews cr
    JOIN products p ON cr.productid = p.productid
    GROUP BY cr.productid, p.productname
    ORDER BY avg_rating DESC;
"""

# Query to get lowest-rated products
query_lowest = """
    SELECT cr.productid, p.productname, 
           ROUND(AVG(cr.rating), 2) AS avg_rating, 
           COUNT(cr.rating) AS total_reviews
    FROM customer_reviews cr
    JOIN products p ON cr.productid = p.productid
    GROUP BY cr.productid, p.productname
    HAVING avg_rating <= 3.0
    ORDER BY avg_rating ASC;
"""

# Fetch results
highest_rated_df = pd.read_sql_query(query_highest, conn)
lowest_rated_df = pd.read_sql_query(query_lowest, conn)

# Close the connection
conn.close()

C:\Users\bhuvi\AppData\Local\Temp\ipykernel_9152\563172232.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  highest_rated_df = pd.read_sql_query(query_highest, conn)
C:\Users\bhuvi\AppData\Local\Temp\ipykernel_9152\563172232.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  lowest_rated_df = pd.read_sql_query(query_lowest, conn)

In [59]:
print("Highest-Rated Products:\n", highest_rated_df)
print("\nLowest-Rated Products:\n", lowest_rated_df)

Highest-Rated Products:
     productid      productname  avg_rating  total_reviews
0           8  Football Helmet        5.00              3
1          19     Hockey Stick        4.40              5
2          18       Volleyball        4.00              3
3          15    Climbing Rope        4.00              6
4           1    Running Shoes        4.00              4
5          11        Ski Boots        4.00              6
6          20    Boxing Gloves        4.00              2
7           5      Soccer Ball        4.00              3
8          17        Surfboard        3.89              9
9           6    Tennis Racket        3.86              7
10          3         Yoga Mat        3.71              7
11         13     Swim Goggles        3.67              9
12          2  Fitness Tracker        3.57              7
13         10       Golf Clubs        3.50              4
14          9   Baseball Glove        3.40              5
15         16            Kayak        3.40             10
16          4        Dumbbells        3.00              5
17         12       Ice Skates        3.00              2
18          7       Basketball        2.67              3

Lowest-Rated Products:
    productid productname  avg_rating  total_reviews
0          7  Basketball        2.67              3
1          4   Dumbbells        3.00              5
2         12  Ice Skates        3.00              2

# Basic Sentiment Analysis

In [63]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: joblib in c:\users\bhuvi\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/41.5 kB ? eta -:--:--
     --------- ------------------------------ 10.2/41.5 kB ? eta -:--:--
     ------------------ ------------------- 20.5/41.5 kB 217.9 kB/s eta 0:00:01
     -------------------------------------- 41.5/41.5 kB 333.1 kB/s eta 0:00:00
Collecting tqdm (from nltk)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.7 kB ? eta -:--:--
     ---------------------------- ----------- 41.0/57.7 kB 2.0 MB/s eta 0:00:01
     ---------------------------------------- 57.7/57.7 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\bhuvi\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   --- ------------------------------------ 0.1/1.5 MB 2.4 MB/s eta 0:00:01
   ----- ---------------------------------- 0.2/1.5 MB 2.5 MB/s eta 0:00:01
   -------- ------------------------------- 0.3/1.5 MB 2.3 MB/s eta 0:00:01
   -------------- ------------------------- 0.6/1.5 MB 3.2 MB/s eta 0:00:01
   ---------------- ----------------------- 0.6/1.5 MB 3.1 MB/s eta 0:00:01
   ----------------------- ---------------- 0.9/1.5 MB 3.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.5 MB 3.1 MB/s eta 0:00:01
   --------------------------------- ------ 1.3/1.5 MB 3.5 MB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 3.4 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl (273 kB)
   ---------------------------------------- 0.0/273.6 kB ? eta -:--:--
   ---------------------- ----------------- 153.6/273.6 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 273.6/273.6 kB 4.2 MB/s eta 0:00:00
Downloading click-8.1.8-py3-none-any.whl (98 kB)
   ---------------------------------------- 0.0/98.2 kB ? eta -:--:--
   ---------------------------------------- 98.2/98.2 kB 5.5 MB/s eta 0:00:00
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.5 kB ? eta -:--:--
   ---------------------------------------- 78.5/78.5 kB 4.6 MB/s eta 0:00:00
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.8 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [65]:
from nltk.sentiment import SentimentIntensityAnalyzer
import nltk

# Download the VADER lexicon (only needed once)
nltk.download('vader_lexicon')

# Initialize Sentiment Analyzer
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\bhuvi\AppData\Roaming\nltk_data...

In [70]:
#Connect to MySQL

conn = db.connect(
    host="localhost",
    user="shopeasy_db",
    password="shopeasy@123",
    database="shopeasy"
)
cursor = conn.cursor()

In [71]:
# Fetch reviews
query4 = "SELECT productid, reviewtext FROM customer_reviews WHERE reviewtext IS NOT NULL;"
df_reviews = pd.read_sql_query(query4, conn)

# Close the connection
conn.close()

# Apply sentiment analysis
df_reviews['sentiment_score'] = df_reviews['reviewtext'].apply(lambda x: sia.polarity_scores(x)['compound'])

# Categorize sentiment
df_reviews['sentiment'] = df_reviews['sentiment_score'].apply(lambda x: 'Positive' if x > 0.05 else ('Negative' if x < -0.05 else 'Neutral'))

# Summary of sentiment distribution
sentiment_summary = df_reviews['sentiment'].value_counts()

# Display first few results
print(df_reviews.head())
print("\nSentiment Summary:\n", sentiment_summary)

   productid                                reviewtext  sentiment_score  \
0         18   Average  experience,  nothing  special.          -0.3089
1         19            The  quality  is    top-notch.           0.0000
2         13   Five  stars  for  the  quick  delivery.           0.0000
3         15  Good  quality,  but  could  be  cheaper.           0.2382
4          2   Average  experience,  nothing  special.          -0.3089

  sentiment
0  Negative
1   Neutral
2   Neutral
3  Positive
4  Negative

Sentiment Summary:
 sentiment
Neutral     40
Positive    36
Negative    24
Name: count, dtype: int64

C:\Users\bhuvi\AppData\Local\Temp\ipykernel_9152\2922038888.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_reviews = pd.read_sql_query(query4, conn)

# Correlate review trends with product performance:

In [79]:
# Aggregate sentiment per product
sentiment_summary = df_reviews.groupby('productid').agg(
    avg_sentiment=('sentiment_score', 'mean'),
    total_reviews=('sentiment', 'count'),
    positive_reviews=('sentiment', lambda x: (x == 'Positive').sum()),
    negative_reviews=('sentiment', lambda x: (x == 'Negative').sum()),
    neutral_reviews=('sentiment', lambda x: (x == 'Neutral').sum())
).reset_index()

# Merge with avg_rating data
product_performance = sentiment_summary.merge(highest_rated_df[['productid', 'avg_rating']], on='productid', how='left')

In [81]:
product_performance

,productid,avg_sentiment,total_reviews,positive_reviews,negative_reviews,neutral_reviews,avg_rating
0,1,0.272625,4,2,1,1,4.00
1,2,-0.034314,7,1,2,4,3.57
2,3,0.042700,7,1,2,4,3.71
3,4,0.204520,5,3,2,0,3.00
4,5,0.267200,3,1,0,2,4.00
5,6,0.110700,7,2,2,3,3.86
6,7,-0.095067,3,1,2,0,2.67
7,8,0.259100,3,1,0,2,5.00
8,9,0.397680,5,4,1,0,3.40
9,10,0.081225,4,1,1,2,3.50
10,11,0.401517,6,4,0,2,4.00
11,12,-0.154450,2,0,1,1,3.00
12,13,0.122111,9,3,2,4,3.67
13,15,0.291767,6,3,0,3,4.00
14,16,0.145540,10,3,4,3,3.40
15,17,0.174322,9,3,3,3,3.89
16,18,-0.102967,3,0,1,2,4.00
17,19,0.294240,5,2,0,3,4.40
18,20,0.119100,2,1,0,1,4.00

# Marketing Effectiveness (SQL):

In [ ]:
# Calculate customer retention rate.

In [86]:
def calculate_customer_retention_rate(file_path):
    # Load dataset
    df = pd.read_csv(file_path, parse_dates=['VisitDate'])
    
    # Extract first and last visit dates per customer
    customer_visits = df.groupby('CustomerID')['VisitDate'].agg(['min', 'max']).reset_index()
    
    # Define retention criteria (e.g., retained if returned within a certain period, e.g., 90 days)
    retention_period = pd.Timedelta(days=90)
    customer_visits['retained'] = (customer_visits['max'] - customer_visits['min']) > retention_period
    
    # Calculate retention rate
    total_customers = len(customer_visits)
    retained_customers = customer_visits['retained'].sum()
    retention_rate = (retained_customers / total_customers) * 100
    
    return retention_rate

# Example usage
file_path = "integrated_data.csv"
retention_rate = calculate_customer_retention_rate(file_path)
print(f"Customer Retention Rate: {retention_rate:.2f}%")

Customer Retention Rate: 38.46%

In [ ]:
# Compare repeat vs. first-time buyers.

In [2]:
# Load the dataset
file_path = "customer_journey.csv"  # Update this if needed
customer_journey = pd.read_csv(file_path)

# Normalize Stage column to lowercase
customer_journey['Stage'] = customer_journey['Stage'].str.lower()

# Filter only checkout events
checkout_data = customer_journey[customer_journey['Stage'] == 'checkout']

# Count occurrences of each customer in checkout
checkout_counts = checkout_data.groupby('CustomerID').size().reset_index(name='purchase_count')

# Classify buyers
checkout_counts['buyer_type'] = checkout_counts['purchase_count'].apply(lambda x: 'First-Time Buyer' if x == 1 else 'Repeat Buyer')

# Get counts and percentages
buyer_summary = checkout_counts['buyer_type'].value_counts(normalize=True).reset_index()
buyer_summary.columns = ['buyer_type', 'percentage']
buyer_summary['percentage'] *= 100  # Convert to percentage

# Print the results
print(buyer_summary)

         buyer_type  percentage
0  First-Time Buyer   94.736842
1      Repeat Buyer    5.263158

In [ ]:
# Find best-performing products per region.

In [3]:
# Load datasets
customer_journey = pd.read_csv("customer_journey.csv")
customers = pd.read_csv("customers.csv")
geography = pd.read_csv("geography.csv")
products = pd.read_csv("products.csv")

# Normalize stage column to lowercase
customer_journey['Stage'] = customer_journey['Stage'].str.lower()

# Filter only purchases (Stage = 'checkout' and Action = 'Purchase')
purchases = customer_journey[(customer_journey['Stage'] == 'checkout') & (customer_journey['Action'] == 'Purchase')]

# Merge with customers to get GeographyID
purchases = purchases.merge(customers[['CustomerID', 'GeographyID']], on='CustomerID', how='left')

# Merge with geography to get region details
purchases = purchases.merge(geography, on='GeographyID', how='left')

# Merge with products to get product details
purchases = purchases.merge(products[['ProductID', 'ProductName']], on='ProductID', how='left')

# Count purchases per product per region
product_performance = purchases.groupby(['Country', 'City', 'ProductName']).size().reset_index(name='purchase_count')

# Rank products per region
product_performance['rank'] = product_performance.groupby(['Country', 'City'])['purchase_count'].rank(method='dense', ascending=False)

# Display results
print(product_performance.sort_values(['Country', 'City', 'rank']))

       Country       City      ProductName  purchase_count  rank
0      Austria     Vienna            Kayak               1   1.0
1      Germany     Berlin  Fitness Tracker               1   1.0
2  Netherlands  Amsterdam    Climbing Rope               1   1.0
3        Spain     Madrid        Surfboard               1   1.0
4       Sweden  Stockholm    Climbing Rope               1   1.0
5           UK     London        Surfboard               1   1.0